<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a class="<%= path === '/' ? 'active' : '' %>" href="/"> Form</a>
          </li>
          <li>
            <a clas="<%= path === '/users' ? 'active' : '' %>" href="/users"
              >Details</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1><font color="red"> The names are </font></h1>
      <ul>
        <% if (names.length > 0) { %> <% for(let name of names) {%>
        <li><%= name.title %></li>
        <% } %> <% } else { %>
        <h2>NO NAMES FOUND</h2>
        <% } %>
      </ul>
      <a href="/" ><font color='green' size="13px"> Back </font></a>
    </main>
  </body>
</html>
