<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a class="<%= path === '/' ? 'active' : '' %>" href="/"> Form</a>
          </li>
          <li>
            <a clas="<%= path === '/users' ? 'active' : '' %>" href="/users"
              >Details</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <form action="/" method="POST">
        <input type="text" name="title" />
        <input type="submit" value="Add" />
      </form>
    </main>
  </body>
</html>
